@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  margin: 0px;
  height: 100%;
  width: 100%;

  /* overflow: hidden; */
  font-family: "Source Sans Pro", sans-serif;
}
.content-box {
  max-height: 90vh;
  overflow-y: auto;
}

.app {
  display: flex;
  position: relative;
}

.logo{
  font-family: "Lucida Console", Courier, monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track 
::-webkit-scrollbar-track {
   background: #e0e0e0;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4d4d4d;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
